.vistamenucontexto{
	display: none;
	position: absolute;
	height: auto !important;
	z-index: 1;
 	border-radius: 0.5rem;
 	box-shadow: 0.1rem 0.1rem 0.1rem grey;
	background-color: whitesmoke;
	padding: 1rem;
	line-height: 1.5rem;
}
.vistamenucontexto a {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}
