.vistatarea {
	max-width: 90%;
	margin: 2rem auto;
	/* padding-bottom para que quepa el botón actualizar */
	padding: 2rem 1rem 4rem 2rem;
	border: 1px solid blue;
	border-radius: 0.5rem;
	box-shadow: 0.5rem 0.5rem grey;
}
.vistatarea input{
	margin: 0.3rem;
}
.vistatarea input[type='text']:first-of-type{
	width: 80%;
}
.vistatarea input[type='number']{
	width: 3rem;
	margin: 0.3rem;
}
.vistatarea .modulo{
	padding: 0.3rem 1rem;
	border: 1px solid grey;
	border-radius: 0.4rem;
}
.vistatarea label, .vistatarea legend{
	font-weight: bold;
}
	
.vistatarea fieldset label{
	font-weight: normal;
}
.vistatarea textarea{
	margin: 0.5rem;
	width: 80%;
}
.vistatarea select{
	margin: 0.5rem;
}
.vistatarea > div{
	text-align: right;
}

.vistatarea button{
	cursor: pointer;
	border: none;
	color: white;
	margin: 1rem;
	padding: 0.5rem 1.5rem;
	text-align: center;
	text-decoration: none;
	font-size: 1.2rem;
}

.vistatarea button:hover{
	text-decoration: underline;
}
.vistatarea button:nth-child(1){
	background-color: red;
}
.vistatarea button:nth-child(2){
	background-color: blue;
}
