.vistaalumnos {
	max-width: 90%;
	margin: 1rem;
 	padding: 2rem;
}
.vistaalumnos>div {
	border-bottom: 1px solid lightgrey;
	height: 1.3rem;
	margin-bottom: 0.7rem;
}
.vistaalumnos .ciclo{
	border-radius: 0.5rem;
	padding: 0.1rem 0.3rem;
	margin: 0 0.2rem;
	cursor: help;
}
.vistaalumnos .iconos{
	float: right;
}
.vistaalumnos .icono{
	display: inline;
	width: 1.5rem;
	cursor: pointer;
}
.vistaalumnos .icono:hover{
	background-color: lightblue;
	border-radius: 0.7rem;
}
