.vistatareas {
	max-width: 90%;
  	margin: 1rem;
  	padding: 2rem;
}
.vistatareas>div {
	border-bottom: 1px solid lightgrey;
  	height: 2rem;
	line-height: 2rem;	/* igual que el height para que el contenido se alinee verticalmente al centro */
}
.vistatareas .icono_grande{
	position: fixed;
	top: 2%;
	left: 90%;
	background-color: blue;
	border-radius: 2rem;
	cursor: pointer;
	transition: transform .7s ease-in-out;
}
.vistatareas .icono_grande:hover{
	transform: rotate(180deg);
}
.vistatareas .iconos{
	float: right;
	height: 2rem;	/* igual que el line-height del div que lo contiene */
}
.vistatareas .icono{
	display: inline;
	width: 1.5rem;
	cursor: pointer;
}
.vistatareas .icono:hover{
	background-color: lightblue;
  	border-radius: 0.7rem;
}
.vistatareas .modulo{
	font-size: 0.8rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	border-radius: 0.2rem;
}

