.vistatareas {
	max-width: 90%;
  	margin: 1rem;
  	padding: 2rem;
}
.vistatareas>div {
  	margin-bottom: 0.5rem;
	border-bottom: 1px solid lightgrey;
	min-height: 1.5rem;
}
.vistatareas .icono_grande{
	position: fixed;
	top: 2%;
	left: 90%;
	background-color: blue;
	border-radius: 2rem;
	cursor: pointer;
	transition: transform .7s ease-in-out;
}
.vistatareas .icono_grande:hover{
	transform: rotate(180deg);
}
.vistatareas .iconos{
	position: absolute;
	right: 2%;
	white-space: nowrap;
}
.vistatareas .icono{
	display: inline;
	width: 1.5rem;
	cursor: pointer;
}
.vistatareas .icono:hover{
	background-color: lightblue;
  	border-radius: 0.7rem;
}
.vistatareas .modulo{
	font-size: 0.8rem;
	margin: 0 0.3rem;
	padding: 0.2rem;
	border-radius: 0.2rem;
}
.vistatareas .tarea{
	margin-right: 20%;	/* Para dejar espacio a los iconos */
	line-height: 1.5rem;
}
.vistatareas .tarea_pendiente{
	font-weight: bold;
	color: red;
}
