.vistatareas {
	max-width: 90%;
  	margin: 1rem;
  	padding: 2rem;
}
.vistatareas>div {
	border-bottom: 1px solid lightgrey;
  	height: 2rem;
}
.vistatareas .icono_grande{
	position: fixed;
	top: 5%;
	left: 80%;
	background-color: blue;
	border-radius: 2rem;
	cursor: pointer;
	transition: transform .7s ease-in-out;
}
.vistatareas .icono_grande:hover{
	transform: rotate(180deg);
}
.vistatareas .iconos{
	float: right;
}
.vistatareas .icono{
	display: inline;
	width: 1.5rem;
	cursor: pointer;
}
.vistatareas .icono:hover{
	background-color: lightblue;
  	border-radius: 0.7rem;
}

